body {
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
#categories {
    display: flex;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
}
#categories>div {
    margin: 4px;
}
#categories>div>div {
    width: 55px;
    height: 68px;
}
#categories>div>p {
    margin: 0;
    font-size: 10px;
}

#homeGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}