
img {
    height: 100%;
    width: 100%;
}

#ftGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 4px 2px;
    /* background-color: aliceblue; */
}
#ftGrid>div>div {
    width: 80px;
    height: 100px;
}
#ftGrid>div>p {
    /* text-align: left; */
}
#ftGrid>div {
    margin: 6px;
}


@media (min-width: 360px) {
    #ftGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 600px) {
    #ftGrid {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 700px) {
    #ftGrid {
        grid-template-columns: repeat(5, 1fr);
    }
    #ftGrid>div>div {
        width: 120px;
        height: 160px;
    }
}
@media (min-width: 800px) {
    #ftGrid {
        grid-template-columns: repeat(6, 1fr);
    }
    #ftGrid>div>div {
        width: 120px;
        height: 160px;
    }
}