
img {
    height: 100%;
    width: 100%;
}

#wmGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 4px 2px;
    /* background-color: aliceblue; */
}
#wmGrid>div>div {
    width: 80px;
    height: 100px;
}
#wmGrid>div>p {
    /* text-align: left; */
}
#wmGrid>div {
    margin: 6px;
}


@media (min-width: 360px) {
    #wmGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 600px) {
    #wmGrid {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 700px) {
    #wmGrid {
        grid-template-columns: repeat(5, 1fr);
    }
    #wmGrid>div>div {
        width: 120px;
        height: 160px;
    }
}
@media (min-width: 800px) {
    #wmGrid {
        grid-template-columns: repeat(6, 1fr);
    }
    #wmGrid>div>div {
        width: 120px;
        height: 160px;
    }
}